flows.json
[{"id":"2d035544.8a525a","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"997b0505.d66b78","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ff0080","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#dd2276","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#dd2276","edited":true},"page-titlebar-backgroundColor":{"value":"#dd2276","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#e7649f","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#dd2276","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Copperplate,Copperplate Gothic Light,fantasy"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":5,"cy":5,"px":1,"py":1}}},{"id":"c432bba5.ca7cf8","type":"ui_tab","z":"","name":"CUSTOMER HELPDESK","icon":"dashboard","disabled":false,"hidden":false},{"id":"596699cf.6484e8","type":"ui_group","z":"","name":"SMART CHATBOT ","tab":"c432bba5.ca7cf8","order":1,"disp":true,"width":"25","collapse":false,"info":"# GET THE BEST POSSIBLE ANSWERS TO YOUR QUERY."},{"id":"12d280d5.0bec4f","type":"ui_form","z":"2d035544.8a525a","name":"","label":"","group":"596699cf.6484e8","order":2,"width":"12","height":"5","options":[{"label":"Enter The Input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":300,"wires":[["a82ab130.4ecbf"]]},{"id":"a82ab130.4ecbf","type":"function","z":"2d035544.8a525a","name":"","func":"msg.payload=msg.payload.Input;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["b3ebb283.d7b32"]]},{"id":"5a04b5c2.9fae1c","type":"function","z":"2d035544.8a525a","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n   for(var i in msg.payload.context.webhook_result_1.results){\nmsg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["b538ae5b.b8117"]]},{"id":"b3ebb283.d7b32","type":"watson-conversation-v1","z":"2d035544.8a525a","name":"","workspaceid":"e287589c-3d00-49d9-a18e-1396b962d14d","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/4089c0ab-a14c-47ca-8e9d-62d710e9d456","timeout":"","optout-learning":false,"x":340,"y":200,"wires":[["5a04b5c2.9fae1c","2b65f585.e9a63a"]]},{"id":"2b65f585.e9a63a","type":"debug","z":"2d035544.8a525a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":120,"wires":[]},{"id":"b538ae5b.b8117","type":"ui_text","z":"2d035544.8a525a","group":"596699cf.6484e8","order":3,"width":"25","height":"5","name":"","label":"The Answer To your query is","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":400,"wires":[]},{"id":"9b3dc0e3.ece8e","type":"inject","z":"2d035544.8a525a","name":"","topic":"","payload":"how do i turn on the heater?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["b3ebb283.d7b32"]]}]